{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}莊周系統{% endblock title %}</title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="{% static 'css/blueimp-gallery.min.css' %}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{% static 'css/jquery.fileupload-ui-noscript.css' %}"></noscript>

 {% block headplus %} {% endblock headplus %}
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">功能</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">莊周系統</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">  
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房客資訊<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'tenant_get' %}">房客紀錄</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">電腦版</li>
            <li><a href="../../../admin/devtenant/tenant/">房客管理</a></li>
          </ul>
        </li>


        <li class="dropdown">  
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">案件回報 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'suite_list' %}">套房</a></li>
            <li><a href="#">住宅</a></li>
            <li><a href="#">店面</a></li>
          </ul>
        </li>

        <li class="dropdown">  
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">掃街資訊 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'go_street' %}">現場拍照</a></li>
            <li><a href="#">網路搜集</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">電腦版</li>
            <li><a href="../../../admin/gostreet/mediainfo/">掃街管理</a></li>
          </ul>
        </li>




        <li class="dropdown">  
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">開發系統 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'get_url' %}">591網址</a></li>
            <li><a href="{% url 'get_url_good' %}">好房網</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">電腦版</li>
            <li><a href="../../../admin/devhouse/devinfo/">電話開發</a></li>
          </ul>
        </li>


        <li><a href="{% url 'upload-new' %}">照片自由傳</a></li>
      
      </ul>
    </div>
  </div>
</nav>
{% block body %}
{% endblock body %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock js %}
</body>
</html>