{# suite/templates/suite_update.html #}

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}更新 {{ suite.suite_address }} | {{ block.super }}{% endblock title %}


{% block js %}
{{ block.super }}
<script src="{% static 'js/suite_update.js' %}"></script>
{% endblock js %}


{% block content %}
<form method="post">

  <!-- 手動一個一個產生 formset 中的 forms，並在它們外面包一層 div -->
  {{ room_formset.management_form }}
  {% for form in room_formset %}
    <div class="menu-item form-group">
      {% csrf_token %}
      {% crispy form room_formset.helper %}
    </div>
  {% endfor %}

  <a href="#" class="menu-item-add btn btn-default">新增房間數</a>
  <button type="submit" class="btn btn-primary">更新</button>
</form>
{% endblock content %}
