
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <a href="{% url 'img_street' pk=address.pk %}" class="btn btn-default">上傳照片</a>

  <a href="{% url 'update_street' pk=address.pk %}" class="btn btn-default">修改資料</a>

  <a href="{% url 'go_street' %}" class="btn btn-primary">新增其他案件</a>

  <br/>
  <br/>
 
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">掃街資訊</h2>
    </div>
    <div class="panel-body">
      <h3>地址：{{ address.now_address }}</h3>
      <h3>電話：{{ address.now_phone }}</h3>
 
      <h3>照片：</h3>
        {% for go_image in address.img_address.all %}
          <h4><img src="/media/{{ go_image.image }}" width="300px" /></h4><hr />
        {% endfor %}
    </div>
  </div>

{% endblock content %}