{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}



{% block content %}
<h2><a href="{{ address.get_absolute_url }}">{{ address.now_address }}</a></h2>
<br/>

<div class="panel panel--warning">
	<div class="panel-heading">
		<h3 class="panel-title">掃街資訊-上傳照片</h3>
	</div>
    <div class="panel-body">
	<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<input type="file" class="form-control-file" name="docfile" multiple >
		<br/>
		<button type="submit" class="btn btn-primary">上傳</button>
	</form>
	</div>
</div>

{% endblock content %}






